@page
@model Chirp.Razor.Pages.AboutMeModel
@{
    ViewData["Title"] = "About me";
    Layout = "Shared/_Layout";
}

<div>
    <h2>@ViewData["Title"]</h2>
    
    <ul>
        <li>Username: @User.Identity.Name</li>
        <li>Email: @Model.Data.Email</li>
        @if (Model.githubUser)
        {
            <li>Login Provider: @Model.Data.LoginProvider</li>
            <li>Provider Key: @Model.Data.ProviderKey</li>
        }
        <!--List of followers-->

        <!--Cheeps-->
        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p style="word-wrap:break-word;">
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
        } 
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>
</div>